<div class="card m-1" style="width: 12rem; background-color: #16202d;">
  <i class="fab fa-steam-square" style="color: green; font-size: 8rem; text-align: center;"></i>
  <div class="card-body">
    <h4 class="card-title"><b>Game Title</b></h4>
    <h5 style="color: green; font-size: 12pt;"><b>Overwhelmingly Positive</b></h5>
    <!--
    <small> ID:  <br>
            Publisher: <br>
            Developer: <br>
            Genre: <br>
            Price:
    </small>
    -->
  </div>
</div>
