<div class="container">
	<div class="card-header mt-3">
		<h1 style="font-weight: 800;">Developer / Publisher Search</h1>
	</div>

	<div class="card mt-3">
  	<div class="card-body">
			<h1>Developers</h1>
			<div class="form-group">
		    <label for="exampleFormControlSelect1">Browse by Developer</label>
		    <select class="form-control" id="exampleFormControlSelect1">
		      <option>1</option>
		      <option>2</option>
		      <option>3</option>
		      <option>Putnam</option>
		      <option>5</option>
		    </select>
		  </div>
		</div>
	</div>

	<div class="card mt-3">
  	<div class="card-body">
			<h1>Publishers</h1>
			<div class="form-group">
		    <label for="exampleFormControlSelect1">Browse by Publisher</label>
		    <select class="form-control" id="exampleFormControlSelect1">
		      <option>1</option>
		      <option>2</option>
		      <option>3</option>
		      <option>4</option>
		      <option>5</option>
		    </select>
		  </div>
		</div>
	</div>

	<button type="button" class="search-buttons w-300 btn mt-3">Search</button>

	<div class="card mt-3">
  	<div class="card-body">
			<h1>Results</h1>
		</div>
	</div>
</div>
